<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Random Users</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<br><br> <br>  
<main>
  <router-outlet></router-outlet>
</main>